
body{
	background-image: linear-gradient(to bottom, #212444,#517586);
	background-attachment: fixed;
}

.leftcon{
	float: left;
	width: 170px;
	height: 450px;
}
.rightcon{
	float: right;
	width: 170px;
	height: 450px;
}
.scoreboard{
	margin: 50px 20px 0px 20px;
	height: 110px;
	width: 110px;
	background-color: silver;
	border-radius: 5px;
	float: left;
	padding: 10px 10px;
	font: bold normal 20px Verdana;
	text-align: center;
}

#exactscore{
	height: 50px;
	width: 50px;
	margin: 10px auto;
	background-color: silver;
	font: bold normal 40px Verdana;
	color: red;
}

.playagain{
	margin: 190px auto 0px 50px;
	height: 70px;
	width: 70px;
	border: 1px ridge #5a3030;
	border-radius: 45px;
	opacity: 0.6;
}

.playagain:hover{
	background-color: #6776b9;
	opacity: 1;
	height:80px;
	width: 80px;
	margin: 185px auto 0px 45px;
	
}

.quit{
	margin: 36px auto 0px 50px;
	height: 70px;
	width: 70px;
	border: 1px ridge #5a3030;
	border-radius: 45px;
	opacity: 0.6;
}

.quit:hover{
	background-color: #d63c3c;
	opacity: 1.0;
	height:80px;
	width: 80px;
	margin: 31px auto 0px 45px;
}
.chanceboard{
	margin: 50px 20px;
	height: 110px;
	width: 110px;
	background-color: silver;
	border-radius: 5px;
	float: left;
	padding: 10px 10px;
	font: bold normal 20px Verdana;
	text-align: center;
	
}
#exactchance{
	height: 50px;
	width: 50px;
	margin: 10px auto;
	background-color: silver;
	font: bold normal 40px Verdana;
	color: red;
}
#exactchance:hover, #exactscore:hover{
	font-size: 50px;
	color: brown;
	margin: 5px auto 10px auto;
}
.container{
	border: 1px solid black;
	width: 1000px;
	height: 450px;
	margin: 31px auto;
	background-image: url(Images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	float:left;
}
#image{
	margin: 50px 72px;
	width: 209px;
	height: 218px;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
}

#hint{
	border: 1px solid grey;
	width: 491px;
	height: 87px;
	margin: 50px 70px 10px 27px;
	float: left;
	border-bottom-right-radius: 5px;
	background-image: linear-gradient(to bottom, silver, lightgreen);
	padding: 25px 25px 0px 25px;
}
#word{
	border: 1px solid black;
	width: 540px;
	height: 50px;
	margin: 37px 10px 15px 29px;
	float: left;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #000000, #444444);
	text-align: center;
	font: bold normal 35px Verdana;
	color: silver;
}
.empty{
	clear: both;
}
.keypad{
	border: 1px solid black;
	background-image: linear-gradient(to bottom, #000000, #555555);
	width: 900px;
	margin: -11px auto;
	height: 100px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 10px;
}
input{
	padding: 5px 5px;
	margin: 5px 0px;
	height: 42px;
	width: 45px;
	font-family: Verdana;
	font-weight: bold;
}
input:hover{
	background-color:olive;
}
.hiddentext{
	text-align: center;
	color: white;
	font: bold italic 20px Verdana;
}